* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    background: #467;
}

nav {
        overflow-x: hidden;
}
div {
    display: flex;
    transition: 0.5s;
    /* transform: translateX(-100%); */
}
img {
    /* min-width: 50%; */
    object-fit: cover;
    aspect-ratio: 4/3;
}

i {
    font-size: 40px;
    color: black;
    padding: 0 10px;
    cursor: pointer;
}
